.banner {
    padding: 0;
    background-color: #52575c;
    color: white;
}

.banner-text {
    padding: 8px 20px;
    margin: 0;
}

.tips {
    font-size: 12px;
    margin-bottom: 2px;
    color: gray;
}

.join-info-text {
    margin-bottom: 2px;
}

input {
    width: 100%;
    margin-bottom: 2px;
}

.player-name {
    margin: 8px 0;
}

#success-alert, #success-alert-with-token {
    display: none;
}

.ratio {
    position: relative;
    width: 100%;
}
.ratio::before {
    display: block;
    padding-top: 56.25%;
    content: "";
}
.ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#local-player {
    display: none !important;
}
